<div id="<%= dom_id flight %>">
  <div>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport_id %>
  </div>

  <div>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport_id %>
  </div>

  <div>
    <strong>Start datetime:</strong>
    <%= flight.start_datetime %>
  </div>

  <div>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </div>

</div>
